/* ProDjMx #ClanOBZ */
#chat [data-cid^="4123271-"] i.bdg, #user-rollover.id-4123271 i.bdg, #chat .id-4123271 i.bdg {
    background: url('http://chilloutmusic.fm/img/theme/Icons/3292657.gif') !important;
    background-size: cover;
}

/* Majeye */
#chat [data-cid^="4175902-"] i.bdg, #user-rollover.id-4175902 i.bdg, #chat .id-4175902 i.bdg {
    background: url('http://i.imgur.com/wmvKDMV.gif') !important;
    background-size: cover;
}

/* FreeCodeCamp */
#chat [data-cid^="8990321-"] i.bdg, #user-rollover.id-8990321 i.bdg, #chat .id-8990321 i.bdg {
    background: url('http://i.imgur.com/g6agrsM.gif') !important;
    background-size: cover;
}

/* reCursive */
#chat [data-cid^="9676318-"] i.bdg, #user-rollover.id-9676318 i.bdg, #chat .id-9676318 i.bdg {
    /* backup gifs */
    /*background: url('http://i.imgur.com/ZTJxqby.gif') !important;*/
    /*background: url('http://i.imgur.com/2RhDO6u.gif') !important;*/
    background: url('http://i.imgur.com/bAHAG8T.gif') !important;
    background-size: cover;
}

/* KrisVos130 */
#chat [data-cid^="4126775-"] i.bdg, #user-rollover.id-4126775 i.bdg, #chat .id-4126775 i.bdg {
    background: url('http://i.imgur.com/pTM9Mx9.png') !important;
    background-size: cover;
}

/* CamperBot */
#chat [data-cid^="9581769-"] i.bdg, #user-rollover.id-9581769 i.bdg, #chat .id-9581769 i.bdg {
    background: url('http://i.imgur.com/oTY3HYB.gif') !important;
    background-size: cover;
}

/* AshiaNTFB */
#chat [data-cid^="8992272-"] i.bdg, #user-rollover.id-8992272 i.bdg, #chat .id-8992272 i.bdg {
    background: url('http://i.imgur.com/maTe8Eu.gif') !important;
    background-size: cover;
}

/* AnecdotalEvidence */
#chat [data-cid^="9875171-"] i.bdg, #user-rollover.id-9875171 i.bdg, #chat .id-9875171 i.bdg {
    /*background: url('http://i.imgur.com/n4tFGN9.gif') !important;*/
    background: url('http://i.imgur.com/iDllSKR.gif') !important;
    background-size: cover;
}

/* dannyfritz */
#chat [data-cid^="9219233-"] i.bdg, #user-rollover.id-9219233 i.bdg, #chat .id-9219233 i.bdg {
    background: url('http://i.imgur.com/M0UjBXB.gif') !important;
    background-size: cover;
}

/* Nekkrolepsy */
#chat [data-cid^="5821747-"] i.bdg, #user-rollover.id-5821747 i.bdg, #chat .id-5821747 i.bdg {
    background: url('http://i.imgur.com/f7kPHR3.gif') !important;
    background-size: cover;
}

/* kurzninja */
#chat [data-cid^="10137058-"] i.bdg, #user-rollover.id-10137058 i.bdg, #chat .id-10137058 i.bdg {
    background: url('http://i.imgur.com/HItyCRR.jpg') !important;
    background-size: cover;
}

/* CptObvious21 */
#chat [data-cid^="5087495-"] i.bdg, #user-rollover.id-5087495 i.bdg, #chat .id-5087495 i.bdg {
    background: url('http://i.imgur.com/TTISV65.gif') !important;
    background-size: cover;
}

/* bryhalterman */
#chat [data-cid^="10043801-"] i.bdg, #user-rollover.id-10043801 i.bdg, #chat .id-10043801 i.bdg {
    background: url('http://i.imgur.com/rrFTpip.gif') !important;
    background-size: cover;
}

/* mev */
#chat [data-cid^="5970407-"] i.bdg, #user-rollover.id-5970407 i.bdg, #chat .id-5970407 i.bdg {
    background: url('http://i.imgur.com/vN2njfU.gif') !important;
    background-size: cover;
}

/* Random Chat Stuff */
#user-lists .list.staff .group {
    background: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 1) 100%) !important;
}
#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#playlist-button {
    background: linear-gradient(to bottom,#FF5CDE 0,#5700FF 100%);
}
#app-header {
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#store-button {
    background: linear-gradient(to bottom,#FF0000 0,#A00000 100%);
}
#plug-dj {
    background: linear-gradient(to bottom,#0268AC 0,#02225C 100%);
}
.header-panel-button.selected {
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.25) 0,rgba(255, 255, 255, 0.06) 100%);
}
#plug-menu {
    background: rgba(40, 44, 53, 0.94) !important;
}
#plug-menu .legal {
    background: rgba(68, 74, 89, 0.46) !important;
}
#settings {
    background: rgba(10, 10, 10, 0.89) !important;
}
#user-lists .list .user:hover {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(255, 0, 194, 0.27) 100%) !important;
}
#waitlist .list .user {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(255, 0, 194, 0.13) 100%) !important;
}
.app-right .friends {
    background: none !important;
}
#settings .header {
    background: rgba(28, 31, 37, 0.78) !important;
}
@media (max-width: 1600px) {
    #room .app-right {
        background: linear-gradient(to right,rgba(0, 0, 0, 0.70) 0,rgba(0, 0, 0, 1) 100%);
    }
}
#chat .message:nth-child(2n+1),#chat .mention:nth-child(2n+1),#chat .skip:nth-child(2n+1),#chat .moderation:nth-child(2n+1),#chat .emote:nth-child(2n+1),#chat .update:nth-child(2n+1),#chat .welcome:nth-child(2n+1) {
    background-color: rgba(17, 19, 23, 0.32);
    -webkit-animation:fadein 0.75s;
    -moz-animation:fadein 0.75s;
    -ms-animation:fadein 0.75s;
    -o-animation:fadein 0.75s;
    animation:fadein 0.75s;
}
#chat .emote, #chat .mention, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome {
    -webkit-animation:fadein 0.75s;
    -moz-animation:fadein 0.75s;
    -ms-animation:fadein 0.75s;
    -o-animation:fadein 0.75s;
    animation:fadein 0.75s;
}
#chat .mention {
    font-weight: 700;
    /*padding-left: 25px;*/
    border-left: #7681FF 3px solid;
}
#chat .emote .from {
     color: #42A5DC !important;
}
.app-right #chat .emote {
    border-left: rgba(66, 165, 220, 1) 3px solid !important;
    background-color: rgba(66, 165, 220, 0.10) !important;
}
#chat-messages .emote .icon {
    /*left: 4px;*/
}
#chat .emote .text {
    font-style: normal;
    font-weight: bold;
    color: #42A5DC;
}
#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#playlist-button {
    background: linear-gradient(to bottom,#FF5CDE 0,#5700FF 100%);
}
.social-menu .icon-twitter,.social-menu .icon-facebook {
    opacity: 1;
}
#playlist-panel {
    background: rgba(17, 19, 23, 0.9);
}
#playlist-menu {
    background: rgba(28, 31, 37, 0.67);
}
#search {
    background: rgba(50, 55, 66, 0.58);
}
#search-bar {
    background: rgba(17, 19, 23, 0.77);
}
#filter-bar {
    background: rgba(17, 19, 23, 0.77);
}
#playlist-edit-button {
    background: rgba(85, 93, 112, 0.75);
}
#playlist-shuffle-button {
    background: rgba(68, 74, 89, 0.75);
}
#playlist-delete-button {
    background: rgba(50, 55, 66, 0.75);
}
#user-panel .score {
    background: rgba(28, 31, 37, 0.59);
}
#dj-button.is-locked .left,#dj-button.is-full .left,#vote .crowd-response.disabled .bottom {
    background: #222224;
}
#dj-button.is-quit .left, #dj-button.is-leave .left, #dj-button.is-wait .left, #dj-button.is-locked .left, #dj-button.is-full .left {
background: #121214;
border-radius: 8px;
border-left-width: 4px;
}
#dj-button.is-quit .left {
border-left: 3px solid #f46b40;
}
#dj-button.is-leave .left {
border-left: 3px solid #f46b40;
}
#dj-button.is-wait .left {
border-left: 3px solid #00b5e6;
}
#dj-button.is-locked .left {
border-left: 3px solid #734ba9;
}
#dj-button.is-full .left {
border-left: 3px solid #CCCCCC;
}
#dj-button {
background: #222224;
border-radius: 8px;
}
#vote .crowd-response {
background: #222224;
}
#woot .bottom, #woot.selected {
background: #90ad2f;
}
#grab .bottom, #grab.selected {
background: #aa74ff;
}
#meh .bottom, #meh.selected {
background: #c42e3b;
}
.row:hover {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(41, 48, 124, 0.27) 100%) !important;
}
#chat .mention .msg {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(41, 48, 124, 0.27) 100%) !important;
}

/* Majeye's Testing - Credit to Dazzuh */

.id-4175902 span.un.clickable:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

.id-4175902 i.bdg:hover, .id-4175902 i.icon:hover {
-webkit-animation: rotate 1s infinite alternate;
}

/* reCursive */
.id-9676318 i.icon:hover {
-webkit-animation: pulse 2s infinite;
animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
from { -webkit-transform: scale(1, 1);
  transform: scale(1, 1); }
50% { -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  }
}

@-webkit-keyframes rotate {
from { -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }
to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}
