/* Created by Majeye for FreeCodeCamp PlugDJ community */
/* --------------------------------------- */
/* Custom Badges */

/* CamperBot */
#chat-messages .id-9581769 .badge-box i.bdg {
	background-image: url(https://gamsters.shost.ca/freecodecamp/CamperBot.jpg);
	background-size: cover;
 }

/* Majeye */
#chat-messages .id-4175902 .badge-box i.bdg {
	background-image: url(https://gamsters.shost.ca/freecodecamp/Majeye.jpg);
	background-size: cover;
 }

/* Room Bar / Meta */



/* PlayBack */
