/* Created by Majeye for FreeCodeCamp PlugDJ community */
/* --------------------------------------- */
/* Custom Badges */

/* CamperBot */
#chat-messages .id-9581769 .badge-box i.bdg {
    background-image: url (https://www.dropbox.com/s/g9ukngufqual7vw/FCCBot.png);
    background-size: cover;
}

/* Majeye */
#chat-messages .id-4175902 .badge-box i.bdg {
    background-image: url (http://i.imgur.com/Q5fh0Fr.gifv);
    background-size: cover;
}

/* Room Bar / Meta */



/* PlayBack */